<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
        <%= @user.name %>
      </h3>
      <h3 class='text-center'>
        <%= @user.email %>
      </h3>
      <h3 class='text-center'>
        <%= link_to "Shop Now", shop_path, class: "mx-2" %>
      </h3>
  </div>
</div>