<div class="text-center home">
  <h2>This is a basic app to show off session based user authentication and a simple mysql storage system based per user.</h2>
  <br/>
  <p>
    Please signup or login to test the app.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>